div.col-md-9 h1:first-of-type {
    text-align: left;
    font-size: 80px;
    font-weight: 800;
}

div.col-md-9>p:first-of-type {
    text-align: left;
}

div.col-md-9 p.admonition-title:first-of-type {
    text-align: left;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

div.col-md-9 h1:first-of-type .headerlink {
    display: none;
}

code.no-highlight {
    color: black;
}

h1 {
    color: black;
    font-weight: 400;
    font-size: 36px;
    text-align: left;
}

h2 {
    color: black;
    font-weight: 600;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

h3 {
    color: black;
    font-weight: 600;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: left;
}

ul.nav .main {
    font-weight: bold;
    color: #235082;
}

/* Definition List styles */

dd {
    padding-left: 20px;
}
